<!DOCTYPE html>
<html lang="pt-br">

   <%- include('../partials/head'); %>

<body class="container">

   <%- include('../partials/header'); %> 

   <main>
      <div class="bg-secondary text-dark bg-opacity-25">
         <h1>Node com EJS</h1>
         <p>Vamos aprender a trabalhar com arquivos EJS</p>
         <p><%= subtitle %></p>
      </div>

      <ul>
         <% qualities.forEach( (quality) => { %>
            <li>
               <strong><%=quality.title%></strong> <%= quality.message %> 
            </li>
         <% }); %> 
         <li>
            <strong>D</strong> Algo com D
         </li>
      </ul>
   </main>

   <%- include('../partials/footer') %> 

</body>
</html>